@model GymBooking.Front.Models.ViewModels.GymClasses.GymClassIndexModelView

@{
    ViewData["Title"] = "BookedClasses";
}

<h1>BookedClasses</h1>



<div id="gymClassesTableId">
    @await Html.PartialAsync("GymClassTablePartial")
</div>
