@model GymBooking.Front.Models.ViewModels.GymClasses.GymClassIndexItemModelView
    

    <td>
        @Html.DisplayFor(item => item.Name)
    </td>
    <td>
        @Html.DisplayFor(item => item.StartTime)
    </td>
    <td>
        @Html.DisplayFor(item => item.Duration)
    </td>
    <td>
        @Html.DisplayFor(item => item.Description)
    </td>
    <td>
        @await Component.InvokeAsync("GymClassButtonsComponent", new { time = Model.StartTime, gymClassId = Model.Id })


    </td>

    

