@model GymBooking.Front.Models.ViewModels.GymClasses.GymClassIndexModelView

@{
    ViewData["Index"] = "Index";
}

<h1>GymClasses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form>
    <input id="historyCheckBoxId" type="checkbox" asp-for=@Model.ViewHistory >
    <label for="historyCheckBoxId">View History</label>
</form>

<div id="gymClassesTableId">
    @await Html.PartialAsync("GymClassTablePartial")
</div>









