@model GymBooking.Front.Models.ViewModels.GymClasses.GymClassIndexModelView

@{
    ViewData["Index"] = "Index";
}

<h1>GymClasses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-action="History">
    <input id="historyCheckBox" type="checkbox" asp-for="ViewHistory" onchange="javascript:this.form.submit()">
    <label for="historyCheckBox">View History</label>
</form>

<div id="gymClassesTableId">
    @await Html.PartialAsync("GymClassTablePartial")
</div>









